.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}


.header {
  flex: 1;
}

.city-name {
  flex: 2;
}

.country-name {
  flex: 1;
}

.button-container {
  flex: 1;
  margin-top: 2em;
  text-align: center;
}