<div class="container">
  
  <mgl-map (load)="mapLoaded($event)" [style]="'mapbox://styles/nicolaidavies/cjpy1fpcr0hqz2robmqhsknxy'" [zoom]="[1.8127334287297703]" [center]="[19.926438355044752, 39.031091055988185]">
    <mgl-geojson-source id="symbols-source">
      <mgl-feature *ngIf="featureCollection" [geometry]="featureCollection"></mgl-feature>
    </mgl-geojson-source>
  </mgl-map>

  <div class="text-container">
    <h4 class="header mat-headline">It's five o'clock in</h4>

    <h1 class="city-name mat-display-2">
      {{cityName}}
    </h1>

    <h2 class="country-name mat-display-1">
      {{countryName}}
    </h2>
  </div>

  <div class="button-container">
    <button mat-raised-button (click)="loadCity()">
      Where else?
    </button>
  </div>
  
</div>